<!DOCTYPE html>
<html>
<head>
	<title>Who'd you rather</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>Who'd you rather</h1>
	<div class="genderIcons">
		<div class="male">Male</div>
		<div class="female">Female</div>
		<div class="mixed">Male/Female</div>
	</div>

	Minimum age: <input type="text" class="minAge"></input>
	Maximum age: <input type="text" class="maxAge"></input>

	<div class="btn playBtn">Play</div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="index.js"></script>
</body>
</html>
