@large-btn-size: 125px;
@medium-btn-size: 100px;
@small-btn-size: 75px;
@gender-icon-width: 5.4em;
@handle-label-container-size: 44px;
@handle-label-container-color: #fff;

@font-face {
	font-family: lust;
	src: url('../fonts/LustScript.otf');
}
@font-face {
	font-family: nexa;
	src: url('../fonts/NexaBold.otf');
}
body {
	font-family: nexa, sans-serif;
	font-size: 100%;
	margin: 0;
	overflow-x: hidden;
}
.l-row {
	margin-bottom: 40px;
}
.center {
	text-align: center;
}
.wrapper {
	width: 1000px;
	max-width: 90%;
	margin: 0 auto;
}
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}
.circular-btn {
	border-radius: 50%;
	text-align: center;
	margin: 20px 0;
	font-family: lust;
	font-size: 2.3rem;
}
.white-box {
	background-color: #fff;
	border-radius: 5px;

}
.form-container .white-box {
	padding: 70px 10% 90px 10%;
	margin-bottom: 95px;
}
.logo {
	font-family: lust;
	font-size: 4em;
	width: 30%;
	display: inline-block;
	color: #242222;
}
.blue-btn {
	background-color: #2d2e55;
	color: #fff;
	width: @medium-btn-size;
	height: @medium-btn-size;
	line-height: @medium-btn-size;
	position: relative;
}
.info-btn {
	float: right;
	font-size: 2.3em;
}
.form-container {
	background-color: #2e2e32;
	padding: 95px 0;
}
.svg-container {
	display: inline-block;
}
.gender-icon {
	margin-right: 25px;
	width: @gender-icon-width;
	pointer-events: visiblePainted;

	&:hover {
		cursor: pointer;
	}
}
.male > .gender-icon {
	width: (@gender-icon-width - 0.6);
}
.form-label {
	font-size: 3.5em;
	display: inline-block;
	margin: 0 0 25px 0;
}
.play-btn {
	background-color: #fff;
	margin: 0 auto;
	width: @large-btn-size;
	height: @large-btn-size;
	line-height: @large-btn-size;
	font-size: 2.55rem;

	&:hover {
		cursor: pointer;
		-webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
	}
}
.handle-label-container {
	position: relative;
	background: @handle-label-container-color;
	width: @handle-label-container-size;
	height: @handle-label-container-size;
	border-radius: 7px;
	-webkit-box-shadow: 0px 5px 1px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 1px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 1px 0px rgba(0,0,0,0.16);
}
.handle-label-container:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: @handle-label-container-color;
	border-width: (@handle-label-container-size / 4);
	margin-left: (@handle-label-container-size / -4);
	z-index: 2;
}
.ui-slider-handle {
	z-index: 1;
}
#min-handle-label, #max-handle-label {
	position: absolute;
	text-align: center;
	line-height: @handle-label-container-size;
}
.actor-container {
	display: none;
	border-bottom: 30vh solid #2e2e32;
	padding-bottom: 85px;
}
.actor {
	width: 37%;
	float: left;
	position: relative;
}
.actor-divider {
	margin-top: 300px;
	width: 26%;
	float: left;
	text-align: center;
	font-size: 1rem;
}
.question-mark-container {
	margin: 0 auto;
	font-size: 3.6em;
	width: @small-btn-size;
	height: @small-btn-size;
	line-height: @small-btn-size;
}
.question-mark {
	position: relative;
	left: -2px;
	top: 3px;
}
.one-liner {
	margin-bottom: 10px;
}
.one-liner > h2 {
	font-size: 1.83em;
	display: inline;
}
.country-flag {
	position: relative;
	top: 4px;
	left: 10px;
}
.profile-image {
	max-width: 100%;
}
.known-for > h2 {
	font-size: 1.7em;
}
.poster-image {
	display: inline-block;
	max-width: 32%;
    padding: 0 12px 12px 0;
    box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
	.actor {
		font-size: .7rem;
	}
	.one-liner > h2 {
		display: block;
		margin-bottom: 4px;
	}
	.country-flag {
		position: static;
	}
	.actor-divider {
		margin-top: 175px;
	}
	.question-mark-container {
		margin: 0 auto;
		font-size: 2em;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.poster-image {
		display: inline-block;
		max-width: 49%;
		padding: 0;
	}
}
@media (max-width: 460px) {
	.form-label {
		font-size: 3em;
	}
	.logo {
		display: block;
	}
}
